/* =============================
   Theme Variables
============================= */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inriasans/v14/ptRMTiqXYfZMCOiVj9kQ1On4KA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inriaserif/v17/fC1lPYxPY3rXxEndZJAzN3Srdy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root,
[data-bs-theme="light"] {
  --background-color: #f1e7d1;
  --text-color: #454B1B;
  --title-bar-bg:#e2d8bf;
  --title-bar-fg: #454B1B;
  --nav-bg: #f4f4f4;
  --nav-text: #0b020b;
  --button-bg: rgba(74, 97, 15, 0.3);
  --button-hover-bg: #525b0e;
  --input-border: rgba(74, 97, 15, 0.3);
  --footer-color: #454B1B;
  --logo: url('images/dionic_logo_light.png');
}

[data-bs-theme="dark"] {
  --background-color: #141702;
  --text-color: #f1e7d1;
  --title-bar-bg: #141c03;
  --title-bar-fg: #f1e7d1;
  --nav-bg: #252222;
  --nav-text: #f1e7d1;
  --button-bg: rgba(238, 225, 225, 0.3);
  --button-hover-bg: #486c04;
  --input-border: rgba(238, 225, 225, 0.3);
  --footer-color: #aaa;
  --logo: url('images/dionic_logo_dark.png');
}


/* =============================
   Base Styles and Resets
============================= */

body,
html {
  max-width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Inria Sans', serif;
  line-height: 1.3rem;
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 1;
  
}

.content-wrapper {
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0.3rem;
  box-sizing: border-box;
  padding-block-end: 0.5rem;
  padding-block-start: 0.5rem;
  z-index: 2;
}

/*Watermarkbackground*/
body::before {
  content: "";
  background: var(--logo) no-repeat center center;
  background-size: contain;
  opacity: 0.05;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* =============================
   Header & Logo
============================= */
.title-bar {
  position: sticky;
  top:0;
  line-height: 1;
  width: 100%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  border-radius: 28px;
  background: var(--background-color);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.title-bar-content {
  font-family: 'Inria Sans', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  min-height: 60px;
  gap: 0;
  padding: 0.25rem 1rem;
}

.brand {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-title {
  font-size: 3rem;
  font-weight: 300;

  white-space: nowrap;
  margin: 0;
}

.logo {
  align-items: center;
  height: 90px;
  width: auto;
  flex-shrink: 0;
}

.header-nav {
  color: #e22c35;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  padding-right: 2.5rem;
}

.header-nav a {
  position: relative;

}


.header-nav a:not(:last-child)::after {
  content: "-";
  margin: 0 0.5rem;
  text-decoration: none;
  display: inline-block;
  pointer-events: none;
}


/* =============================
   Main Sections
============================= */
section {
  margin: 1rem;
}

h2 {
  font-weight: lighter;
  padding: 1rem;
  border-bottom: 2px solid var(--text-color);
}

/* =============================
   Theme Toggle Button
============================= */
#theme-toggle-btn {
  position: absolute;
  top: 19%;
  right: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 0.1rem;
  transform: translateY(-50%);
}

#theme-icon svg {
  display: block;
  fill: currentColor;
}


.contact-intro{
padding: auto;
}
/* =============================
   Footer
============================= */
footer {
  text-align: center;
  padding: 2rem 1rem 1rem;
  font-size: 0.9rem;
  color: var(--footer-color);
}


/* =============================
   Form Styling
============================= */
form {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  display: block;
  width: clamp(250px, 90%, 600px);
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color);
  margin: 0.5rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--button-bg);
}

button[type="submit"] {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: var(--button-bg);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--button-hover-bg);
}

button[type="submit"].active {
  cursor: pointer;
}

.input:required:invalid:focus {
  border-color: red;
  box-shadow: 0 0 4px red;
}


#firstName:focus:invalid,
#lastName:focus:invalid,
#contactNumber:focus:invalid {
  border-color: red;
  box-shadow: 0 0 4px red;
}


input:not(#firstName):not(#lastName):not(#contactNumber):focus:invalid {
  border-color: initial;
  box-shadow: none;
}

/* ====================================
   Vision Bar & Images & Welcome Note 
   ==================================== */
.vision-bar {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 450px;
  max-width: 900px;
}

.vision-image {
  justify-content: space-between;
  border-radius: 12px;
  height: 400;
  width: 550px;
  margin-right: 20px;
  margin-left: 20px;
  flex-shrink: 0;
}

.vision-text {
  font-family: 'Inria Serif', serif;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
  flex: 1;
}

.welcome-note {
  font-family: 'Inria Serif', serif;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  padding-top: 2rem;
}

.services-section {
  background-color:var(--background-color);;
  padding: 1rem 1rem;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.service-card {
  background-color:var(--background-color);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.service-card:hover {
  transform: translateY(-4px);
}

.service-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.service-content {
  padding: 1rem;
}

.service-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.service-list {
  padding-left: 1.25rem;
  color: var(--text-color);
  list-style: disc;
}

/* =============================
   Theme Related Design
=============================*/
[data-bs-theme="dark"] #theme-toggle-btn {
  color: #f1e7d1;
  filter: drop-shadow(0 0 6px rgba(236, 195, 82, 0.907));
}

[data-bs-theme="light"] #theme-toggle-btn {
  color: #1d3d04;
  filter: drop-shadow(0 0 6px rgba(252, 253, 253, 0.538));
}

[data-bs-theme="light"] .title-bar {
  font-weight: bold;
  background: linear-gradient(to top,
      #e2d8bf 0%,
      rgba(197, 199, 186, 0) 100%);
}

[data-bs-theme="dark"] .title-bar {
  background: linear-gradient(to top,
      #141702c4 0%,
      rgba(181, 0, 12, 0) 100%);
}


[data-bs-theme="dark"] .header-nav a {
  color: var(--title-bar-fg);
  text-decoration: none;
  font-weight: light;
}

[data-bs-theme="light"] .header-nav a {
  color: var(--title-bar-fg);
  text-decoration: none;
  font-weight: light;
}

[data-bs-theme="dark"] .header-nav a:hover {
  color: #85a58e;
  text-decoration: underline;
  font-weight: light;
  transition: all 0.6s ease;
}



[data-bs-theme="light"] .header-nav a:hover {
  color: #707003;
  text-decoration: underline;
  font-weight: light;
  transition: all 0.6s ease;
}

[data-bs-theme="dark"] .footer-email {
  color: #aaa;
  text-decoration: none;
}

[data-bs-theme="light"] .footer-email {
  color: #454B1B;
  text-decoration: none;
}

[data-bs-theme="light"] .footer-email:hover {
  text-decoration: underline;
  color: #ff005d;
}

[data-bs-theme="dark"] .footer-email:hover {
  text-decoration: underline;
  color: #f8f6f3;
}

[data-bs-theme="dark"] h2 {
  border-bottom: 1px solid rgba(238, 225, 225, 0.3);
}

[data-bs-theme="light"] h2 {
  border-bottom: 1px solid rgba(74, 97, 15, 0.3);
}

[data-bs-theme="light"] .vision-bar {
  background-color:#e2d8bf;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

[data-bs-theme="light"] .vision-text {
  color: #1a4903;
}

[data-bs-theme="light"] .welcome-note {
  color: #1a4903;
}

[data-bs-theme="dark"] .vision-bar {
  background-color: #1d2213;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

[data-bs-theme="dark"] .vision-text {
  color: var(--title-bar-fg);
}

[data-bs-theme="dark"] .welcome-note {
  color: var(--title-bar-fg);
}


/* =============================
   Responsive Design
=============================*/
@media (min-width: 768px) {
    .services-grid > :last-child:nth-child(3n + 1) {
  grid-column: 1 / -1;
  justify-self: center;
  }
}

@media (min-width: 769px) and (max-width: 1023px){
  .services-grid {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 320px) {
  .title-bar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    align-items: center;
    height: 24px;
  }

  .site-title {
    font-size: 1rem;
  }

  .header-nav {
    flex-direction: row;
    font-size: 0.6rem;
    padding-bottom: 15px;
    padding-right: 5px;
  }


  h2 {
    font-size: 10px;
  }

  .content-wrapper {
    font-size: 10px;
  }

  .vision-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .vision-image {
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: 0.5rem;
  }

  .vision-text {
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding: 0 0.1rem;
    line-height: 1.3;
    box-sizing: border-box;
  }

  #theme-toggle-btn {
    font-size: 8px;
    right: 0.5rem;
    padding-top: 10px;
  }

  .welcome-note {
    font-size: 12px;
    padding: 0;
  }
}


@media (min-width: 321px) and (max-width: 399px) {
  .title-bar-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-wrapper {
    font-size: 12px;
  }

  #theme-toggle-btn {
    font-size: 2px;
    right: 0.5rem;
    padding-top: 3px;
  }

  .vision-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    height: 165px;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .vision-image {
    align-items: left;
    width: 60%;
    max-width: 250px;
    min-height: 86%;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
  }

  .vision-text {
    text-align: center;
    font-size: 0.65rem;
    box-sizing: border-box;
    line-height: 1.5;
  }

  .welcome-note {
    font-size: 15px;
    padding: 0.5rem;
  }

  .logo {
    height: 45px;
  }

  .site-title {
    font-size: 1.8rem;
  }


  .header-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.75rem;
    padding-bottom: 10px;
    padding-left: 55px;
  }


  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
  }

  h2 {
    font-size: 15px;
  }

  form {
    width: 100%;
  }

}

@media (min-width: 400px) and (max-width: 499px) {
  .title-bar-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-wrapper {
    font-size: 12px;
  }

  #theme-toggle-btn {
    font-size: 2px;
    right: 0.5rem;
    padding-top: 3px;
  }

  .vision-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    height: 165px;
    padding: 0.3rem;
    box-sizing: border-box;
  }

  .vision-image {
    align-items: left;
    width: 60%;
    max-width: 250px;
    max-height: 90%;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
  }

  .vision-text {
    text-align: center;
    font-size: 0.65rem;
    box-sizing: border-box;
    line-height: 1.5;
  }

  .welcome-note {
    font-size: 15px;
    padding: 0.5rem;
  }

  .logo {
    height: 45px;
  }

  .site-title {
    font-size: 1.8rem;
  }


  .header-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.75rem;
    padding-bottom: 10px;
    padding-left: 55px;
  }


  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
  }

  h2 {
    font-size: 15px;
  }

  form {
    width: 100%;
  }

}

@media (min-width: 500px) and (max-width: 700px) {
  .title-bar-content {
    padding: 0.1rem;
  }


  .logo {
    height: 50px;
  }

  .site-title {
    font-size: 2rem;
  }

  .header-nav {
    font-size: 0.85rem;
  }


  .header-nav a::after {
    margin: 0.5rem;
  }

  #theme-toggle-btn {
    right: 0.5rem;
    padding-top: 10px;
  }

  h2 {
    font-size: 24px;
  }

  .content-wrapper {
    font-size: 15px;
  }

  input,
  textarea {
    width: 100%;
  }

  .vision-bar {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 75%;
    max-width: 100%;
    height: auto;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .vision-image {
    width: 62%;
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
  }

  .vision-text {
    text-align: center;
    font-size: 12px;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
  }

  .welcome-note {
    font-size: 24px;
    padding: 1rem;
  }
}




@media (min-width: 701px) and (max-width: 900px) {

  .title-bar-content {
    padding: 0.5rem;
  }

  .logo {
    height: 70px;
  }

  .site-title {
    font-size: 3 rem;
  }

  .header-nav {
    font-size: 1rem;
  }

  .header-nav a::after {
    margin: 1rem;
  }

  #theme-toggle-btn {
    right: 0.6rem;
    padding-top: 5px;
  }

  .vision-bar {
    width: 65%;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1rem;
  }

  .vision-image {
    width: 60%;
    height: auto;
    margin: 0;
  }

  .vision-text {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .welcome-note {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

@media (min-width: 901px) {
  .logo {
    height: 80px;
  }

  .site-title {
    font-size: 3.5rem;
  }

  .header-nav {
    font-size: 1.5rem;
    padding-left: 2.5rem;
  }

  .welcome-note {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .vision-bar {
    width: 70%;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1rem;
  }

  .vision-image {
    width: 60%;
    height: auto;
    margin: 1rem;
  }

  .vision-text {
    text-align: center;
    padding-left: 1rem;
  }
}

